<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion de Precios</title>
</head>
<body>
    <header>
    </header>
    <main>
        <p>PRECIOS</p>
        <h1>Desbloquea tu creatividad.¡Prueba el plan pro gratis!</h1>
        <p>Comienza tu prueba gratuita con acceso a todo el contenido de manera gratuita por 7 dias</p>
    </main>
    <footer>
    </footer>
</body>
</html>